In [3]:
from _02_making_test_set import start_train_set, start_test_set

housing = start_train_set.drop("median_house_value", axis=1)
housing_labels = start_train_set["median_house_value"].copy

본격적으로 사용할 feature와 label 분리

In [4]:
from sklearn.impute import SimpleImputer

imputer = SimpleImputer(strategy="median")

싸이킷런이 제공하는 **SimpleImputer** 클래스를 사용하여 nan값을 대체하는 법 설명

In [5]:
housing_num = housing.drop("ocean_proximity", axis=1)

imputer가 숫자형 데이터만 다룰 수 있기 때문에 카테고리값인 특성은 잠시 제외

In [7]:
imputer.fit(housing_num)

SimpleImputer(strategy='median')

In [8]:
imputer.statistics_

array([-118.49  ,   34.26  ,   29.    , 2123.5   ,  434.    , 1166.    ,
        409.    ,    3.5341])

In [9]:
housing_num.median().values

array([-118.49  ,   34.26  ,   29.    , 2123.5   ,  434.    , 1166.    ,
        409.    ,    3.5341])

In [10]:
X = imputer.transform(housing_num)

각 특성의 median값으로 설정된 imputer를 이용해 각 특성의 nan값을 대체

In [12]:
import pandas as pd
housing_tr = pd.DataFrame(X, columns=housing_num.columns, index=housing_num.index)

치환된 데이터셋을 다시 pandas 데이터프레임으로 변환

In [14]:
housing_cat = housing[["ocean_proximity"]]
housing_cat.head(10)

      ocean_proximity
5288        <1H OCEAN
12865          INLAND
9174        <1H OCEAN
17247       <1H OCEAN
14138      NEAR OCEAN
5722        <1H OCEAN
18559      NEAR OCEAN
18488          INLAND
9796       NEAR OCEAN
19705          INLAND

해당 데이터셋에서 카테고리 데이터는 'ocean_proximity' 1개 뿐.  
그래서 column이름을 적을 때, 기존 차원을 유지하기 위해서 **리스트에 담아서 가져오는 것** 주목.

In [15]:
from sklearn.preprocessing import OrdinalEncoder
ordinal_encoder = OrdinalEncoder()
housing_cat_encoded = ordinal_encoder.fit_transform(housing_cat)
housing_cat_encoded[:10]

array([[0.],
       [1.],
       [0.],
       [0.],
       [4.],
       [0.],
       [4.],
       [1.],
       [4.],
       [1.]])

범주형 데이터를 숫자에 매핑하여 변환해주는 **OrdinalEncoder** 클래스 사용  
해당 클래스의 **fit_transform** 메서드를 이용하여 해당 데이터에 대해 fit과 transform을 동시에 진행

In [16]:
ordinal_encoder.categories_

[array(['<1H OCEAN', 'INLAND', 'ISLAND', 'NEAR BAY', 'NEAR OCEAN'],
       dtype=object)]

이 방법은 가까이 있는 두 값을 떨어져 있는 두 값보다 더 비슷하다고 학습하게 됨.   
만약 카테고리가 'bad', 'average', 'good', 'excellent' 와 같이 순서가 있다면 괜찮음.  
하지만 'ocean_proximity'는 그것에 해당하지 않음. 이때는 **one-hot encoding** 방식이 더 좋음

In [17]:
from sklearn.preprocessing import OneHotEncoder
cat_encoder = OneHotEncoder()
housing_cat_1hot = cat_encoder.fit_transform(housing_cat)
housing_cat_1hot

<16512x5 sparse matrix of type '<class 'numpy.float64'>'
	with 16512 stored elements in Compressed Sparse Row format>